$color-brown: #d97e4a;
$color-brown-light: #fbaf85;
$color-black-light: #101010;
$color-black: #000000;
$color-grey-dark: #4c4c4c;
$color-grey-light: #f1f1f1;
$color-grey: #cfcfcf;
$color-white: #fff;
$color-error: #CD2C2C;
$color-green: #00a500;

