@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;

.cart-modal {
    position: fixed;
    z-index: 101;
    top: 9.7rem;
    left: 0;
    background-color: rgba($color-grey-dark, 0.6);
    width: 100vw;
    height: 100vh;

    @include respond(tab-port) {
        top: 9rem;
    }    

    .container {
        display: flex;
        justify-content: flex-end;
        overflow: hidden;

        @include respond(tab-port) {
            justify-content: center;
        }
    }

    &__container {
        padding: 3.1rem 3.1rem 3.1rem 3.3rem;
        margin-top: 3.2rem;
        border-radius: 8px;
        background-color: $color-white;
        width: 37.7rem;
        max-width: 37.7rem;
        color: $color-black;

        @include respond(phone-sm) {
            margin-top: 2.4rem;
            width: 100%;
            max-width: 100%;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__btn-remove {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-decoration-line: underline;
        opacity: 0.65;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            color: $color-brown;
        }
    }

    &__product {/* 
        height: 6.4rem; */
        width: 31.3rem;
        display: flex;
        align-items: center;        
        justify-content: space-between;
        flex-wrap: wrap;

        @include respond(phone-sm) {
            width: 100%;
        }
    }

    &__product-name {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    &__product-price {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 2.5rem;
        opacity: 0.6;
    }

    &__img {
        height: 100%;
        margin-right: 1.6rem;
    }

    &__info {
        height: 6.4rem;
        display: flex;
        align-items: center;

        @include respond(phone-sm) {
            margin-bottom: 1rem;
        }

    }

    &__quantity-container {
        margin-left: auto;
        background-color: $color-grey-light;
        height: 3.2rem;
        display: flex;
        align-items: center;
        
        @include respond(phone-sm) {
            margin-left: 0;
        }
    }

    &__quantity {
        width: 3.2rem;
        height: 100%;
        display: block;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 1.8rem;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn {
        cursor: pointer;
        border: none;
        outline: none;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2rem;
        text-transform: uppercase;
        opacity: 0.25;        
        height: 100%;
        width: 3.2rem;
        text-align: center;
        transition: all .3s ease;

        &:first-child {
            padding-bottom: 3px;
        }

        &:hover {
            color: $color-brown;
            opacity: 1;
        }
    }

    &__bottom {
        .button {
            width: 100%;
        }
    }

    &__total {
        display: flex;
        justify-content: space-between;
        
        span:first-child {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 2.5rem;
            opacity: 0.65;
            text-transform: uppercase;
        }

        span:last-child {
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.5rem;
            text-transform: uppercase;
        }
    }

    &__empty-cart {
        width: 100%;
    }
}
